.form-error,
.required-msg,
#delete-link {
    color: red;
    font-size: 0.9rem;
}
.required {
	font-size: .5rem;
	vertical-align: top;
	color: red;
	margin: 4px 2px;
}
.fa-solid.fa-star {
    color: rgb(255,179,59);
}