<table class="table table-striped">
    <thead>
    <tr>
        <td></td>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Flight Numbers</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="disc in discs">
        <td>
            <i ng-click="$ctrl.toggleFavoriteStatus(disc)"
               ng-class="disc.favorite ? 'fa-solid fa-star' : 'fa-regular fa-star'"
               title="{{ disc.favorite ? 'Remove from favorites' : 'Add to favorites'}}"></i>
        </td>
        <td>{{disc.manufacturer.name}}</td>
        <td>{{disc.model}}</td>
        <td>{{disc.speed}} / {{disc.glide}} / {{disc.turn}} / {{disc.fade}}</td>
        <td>{{disc.notes}}</td>
    </tr>
    </tbody>
</table>